@font-face {
  font-family: museo;
  src: url("../MuseoSansCyrl300/MuseoSansCyrl300.ttf");
}
@font-face {
  font-family: museo-b;
  src: url("Museo-Sans-Cyr-700/Museo-Sans-Cyrl-700.ttf");
}
@font-face {
  font-family: museofive;
  src: url("museo-sans-cyrillic/MuseoSansCyrl-500.otf");
}
.head {
  display: flex;
  height: 94px;
  font-family: "museofive";
  font-size: 22px;
  padding-top: 4px;

  margin-left: 90px;
  position: relative;

  width: 1000px;
}
.head div {
  padding: 18px;
}
.headtexts {
  display: flex;
  width: 184px;
  line-height: 27px;
  font-family: museofive;
  font-size: 17px;
}
.brandimgage img {
  height: 40px;
  width: 50px;
  padding-right: 300px;
  padding-left: 125px;
}
.Signin {
  font-family: "museofive";
  color: #fff;
  border: none;
  background-color: rgb(237, 72, 11);
  width: 90px;
  height: 37px;
  position: absolute;
  top: 18%;
  left: 120%;
  border-radius: 4px;
  font-size: 15px;
}

.first {
  display: flex;
}
.tiredfont {
  font-size: 48px;
  font-weight: 100;
  width: 454px;
  height: 200px;
  padding-left: 220px;
  text-align: center;
  margin: 20px;
  padding-right: 32px;
  font-family: museo;
}
.tiredsub {
  color: rgb(168, 162, 162);
  width: 500px;
  font-size: 21px;
  font-family: museo;
  padding-bottom: 12px;
  padding-top: 22px;
}
.tiredlasttext {
  font-family: museo-bold;
  font-weight: 400;
  width: 500px;
  font-size: 21px;
  color: rgb(137, 137, 137);
  padding-bottom: 26px;
}
.buttonone {
  color: #fff;
  background-color: rgb(235, 66, 4);
  border: none;
  font-family: museofive;
  width: 200px;
  font-size: 17px;
  height: 58px;
  border-radius: 4px;
}
.buttonone:hover {
  background-color: rgb(217, 63, 8);
}
.imageone img {
  width: 100%;
}
.imageone {
  width: 700px;
  height: 550px;
}
.usermainclass {
  display: flex;
  width: 890px;
  justify-content: space-around;
  padding: 220px;
}
.usercaption {
  font-family: museo;
  font-size: 17px;
  padding: 12px;
  padding-top: 9px;
  color: rgb(137, 137, 137);
}
.userhead {
  color: #000;
  padding: 12px;
  font-size: 21px;
  font-family: museo;
}
.imagetwo img {
  width: 600px;
  height: 500px;
  padding-left: 200px;
  margin: 12px;
  padding-bottom: 34px;
}
.second {
  display: flex;
}
.bestone {
  font-family: museo;
  color: rgb(137, 137, 137);
  font-size: 19px;
  width: 400px;
  padding-top: 170px;
}
.besthead {
  font-family: museo;
  font-size: 31px;
  color: #000;
}
.third {
  width: 200px;
  display: flex;
}
.trulyhead {
  width: 200px;
  font-family: museo;
  margin: 100px;
  padding-left: 200px;
}
.trulyone {
  font-size: 31px;
  padding-bottom: 8px;
}
.trulytwo {
  color: rgb(255, 35, 35);
  font-size: 31px;
  width: 400px;
  padding-bottom: 24px;
}
.trulythree {
  color: rgb(137, 137, 137);
  font-size: 19px;
  width: 460px;
}
.simplehead {
  color: #000;
  padding-top: 32px;
}
.simplecaption {
  padding: 8px;
}
.imagethree img {
  width: 640px;
  padding-top: 73px;
  padding-left: 240px;
  height: 450px;
}
.happyusershead {
  font-family: museo;
  color: #000;
  text-align: center;
  font-size: 31px;
}
.happyuserscaption {
  color: rgb(137, 137, 137);
  font-family: museo;
  font-size: 19px;
  text-align: center;
  width: 630px;
  padding-top: 19px;
  padding-left: 500px;
}

.imageower img {
  width: 100%;
}
.four {
  width: 400px;
  height: 100px;
}
.enjoy {
  text-align: center;
  font-family: museo;
  font-size: 37px;
  width: 700px;
  margin: 74px;
  margin-bottom: 8px;
  padding-left: 370px;
}
.enjoycaption {
  width: 650px;

  margin: 42px;
  font-family: museo;
  font-size: 21px;
  text-align: center;
  padding-left: 440px;
}
